<!DOCTYPE html>
<html>
<head>
    <title>Calendar Optimization</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Calendar Optimization</h1>
        <p>Upload your ics file and get the optimized version of it.</p>
        <form action="/update_calendar" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Select your ics file:</label>
                <input type="file" name="file" id="file" class="form-control">
            </div>
            <div class="form-group">
                <label for="num_day_before_notif">Days before notification:</label>
                <input type="number" name="num_day_before_notif" id="num_day_before_notif" value="0" class="form-control">
            </div>
            <div class="form-group">
                <label for="num_hour_before_notif">Hours before notification:</label>
                <input type="number" name="num_hour_before_notif" id="num_hour_before_notif" value="0" class="form-control">
            </div>
            <div class="form-group">
                <label for="num_min_before_notif">Minutes before notification:</label>
                <input type="number" name="num_min_before_notif" id="num_min_before_notif" value="5" class="form-control">
            </div>
            <div class="form-group">
                <label for="num_sec_before_notif">Seconds before notification:</label>
                <input type="number" name="num_sec_before_notif" id="num_sec_before_notif" value="0" class="form-control">
            </div>
            <input type="submit" name="submit" value="Upload" class="btn btn-primary">
        </form>
    </div>
</body>
</html>
